<header>
    <figure><img src="../../../assets/img/logo-Here-Maps.JPG" alt="Here Maps"></figure>
</header>
<nav></nav>
<section>
    <article>
        <h3>Registrarse</h3>
        <form class="formulario" autocomplete="off" #forma="ngForm">
            <div class="inner-addon left-addon">
                <i class="glyphicon fa fa-user-circle-o" aria-hidden="true"></i>
                <!--Validación de campos con el atributo CLASS, NAME, NGMODEL-->
                <input type="text" class="form-control input-activo"  placeholder="Nombre">
                    <!--Small utlizado para validar y mostrar mensaje del por que esta dando el error-->
            </div>
            <div class="inner-addon left-addon">
                <i class="glyphicon fa fa-user-circle-o" aria-hidden="true"></i>
                <input type="text" class="form-control input-activo"  minlength="5" placeholder="Apellido">
            </div>
            <div class="inner-addon left-addon">
                <i class="glyphicon fa fa-envelope" aria-hidden="true"></i>
                <input type="email" class="form-control input-activo"  placeholder="Correo electrónico">
            </div>
            <div class="inner-addon left-addon">
                <i class="glyphicon fa fa-phone" aria-hidden="true"></i>
                <input type="tel" class="form-control input-activo" required minlength="10"  placeholder="Teléfono">
            </div>
            <div class="inner-addon left-addon">
                <i class="glyphicon fa fa-lock" aria-hidden="true"></i>
                <input type="password" class="form-control input-activo"  minlength="5" placeholder="Contraseña">
            </div>
            <div class="inner-addon left-addon">
                <i class="glyphicon fa fa-lock" aria-hidden="true"></i>
                <input type="password" class="form-control input-activo"  minlength="5" placeholder="Repetir contraseña">
            </div>
            <!--Un botón siempre debe ser hijo de un form si se quiere utilizar onSubmit o ngSubmit-->
            <button type="button" class="btn btn-outline-dark boton-activo" (click)="guardarRegistro(forma)">Guardar</button>
        </form>
    </article>
</section>