img{
    width: 40%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}

.progress{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    -webkit-transition : width 5s ease;
    -moz-transition : width 5s ease;
    -o-transition : width 5s ease;
    transition : width 5s ease;
}

.input-activo:active{
    border-radius: 20px;
  }

  .formulario{
      cursor:pointer;
      display: block;
      width:30%;
      margin:  auto;
      text-align:left;
  }
  
  input{
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #3c3c3c;
      border-color: #4a85b2;
      color: gray;
  }

  ::placeholder{
      color: white;
  }

  h3{
    color: white;
    padding:2px;
    cursor:pointer;
    display:block;
    margin:  auto;
    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;

}

.PonerVertical{
    display: inline-block;
}

.btn{
    background-color: #fd9d31;
    border-color: #fd9d31;
    display: block;
    color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    border-radius: 20px 20px 20px 20px;
}
.boton-activo:active{
  opacity: 0.2;
}

a{
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}
a:active{
    color: #4a85b2;
}

  /*icono dentro de input*/

.inner-addon {
    position: relative;
  }
  .inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    color:  #4a85b2;
  }
  .left-addon .glyphicon {
    left: 0px;
  }
  .right-addon .glyphicon {
    right: 0px;
  }
  .left-addon input {
    padding-left: 35px;
  }
  .right-addon input {
    padding-right: 35px;
  }