<header>
    <figure><img src="../../../assets/img/logo-Here-Maps.JPG" alt="Here Maps"></figure>
</header>
<nav></nav>
<section>
        <div class="inner-addon col-sm-4">
            <h5>REGISTRA Y SELECCIONA EL TIPO DE NEGOCIO</h5>
        <button type="submit" class="btn btn-outline-dark boton-activo" (click)="Registro()" >Registrarse</button>
    </div>
    <div class="verticalLine">|</div>
        <div class="inner-addon col-sm-3">
            <h5>GUARDA TUS NEGOCIOS Y UBICA TUS COMPETENCIAS</h5>
        <button type="submit" class="btn btn-outline-dark boton-activo" (click)="ingresar()">Iniciar sesión</button>
    </div>
    <div class="verticalLine">|</div>
        <div class="inner-addon col-sm-4">
            <h5>SELECCIONA TUS NEGOCIOS FAVORITOS</h5>
            <i class="favoritoOn fa fa-heart fa-3x" aria-hidden="true"></i>
            <i class="favortitoOff fa fa-heart fa-3x" aria-hidden="true"></i>
    </div>
</section>